---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Features from '@/components/Features.astro';
import About from '@/components/About.astro';
import Prices from '@/components/Prices.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="Анна Ратнікова | Стратег для експертів">
	<Header />
	<main>
		<Hero />
		<Features />
		<About />
		<Prices />
	</main>
	<Footer />
</Layout>
