---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="Політика конфіденційності - Анна Ратнікова">
  <Header />
  <main>
    <section class="bg-accent text-primary py-15">
      <div class="max-w-3xl mx-auto px-4 sm:px-8 py-10 bg-white bg-opacity-80 rounded-xl shadow-lg flex flex-col gap-1">
        <h1 class="text-4xl font-bold mb-4 text-center">Політика конфіденційності</h1>

        <p>
          Ми високо цінуємо конфіденційність особистої інформації наших користувачів (Замовників). Використовуючи в
          роботі з Інтернет-ресурсами всі доступні можливості мережі, ви можете бути абсолютно спокійні щодо збереження
          особистої інформації.
        </p>

        <p>
          Дані, які користувачі (Замовники) надають при заповненні реєстраційної форми або під час інших маніпуляцій,
          застосовуються тільки в обумовлених нижче випадках та договорі оферти, який знаходиться за інтернет-адресою:
          <a href="https://ratnikovastrateg.com/" class="hover:underline">https://ratnikovastrateg.com/</a>. Переважно,
          особиста інформація використовується в цілях підготовки спеціальних, цільових Послуг.
        </p>

        <h5 class="font-bold my-3">
          Дані, необхідні для сайту
        </h5>

        <p>
          Необхідні для сервісу дані - це ті пункти, які заповнюються в реєстраційній формі, а саме Ім'я, Телефон і
          E-mail. Таким чином, користувач (Замовник) добровільно погоджується на отримання листів.
        </p>

        <h5 class="font-bold my-3">
          Мета збору особистої інформації
        </h5>

        <p>
          Єдине для чого використовується інформація про користувача (Замовника) - це зв'язок з ним Виконавця за
          допомогою телефону для уточнення деталей реєстрації і відправка йому на електронну пошту листів розсилки.
          Ім'я, яке вказується в реєстраційній формі, необхідно для особистого звернення. У листі від Виконавця ви
          будете отримувати інформацію про його пропозиції.
        </p>

        <p>
          Вся надана інформація не передається третім особам. Винятком з правила може бути тільки виконання вимог
          законодавства. Особисті дані користувачів зберігаються в базах Виконавця, де вся інформація захищена і може
          використовуватися тільки в зазначених у цій політиці конфіденційності випадках.
        </p>

        <p>
          За користувачем (Замовником) залишається право відмовитися від розсилки, шляхом надсилання письмового
          повідомлення на e-mail Виконавця: office.ratnikova@gmail.com. Тоді його дані буде видалено з бази даних.
        </p>

        <h4 class="font-bold my-3">
          Як відбувається використання особистих даних:
        </h4>

        <p>
          Сайт <a href="https://ratnikovastrateg.com/">https://ratnikovastrateg.com/</a> використовує Cookies та
          інформацію про користувачів Сайту.
        </p>

        <p>
          З їх допомогою відбувається збір даних про переміщення відвідувачів по сайту. Такий контроль дає можливість
          покращувати і вдосконалювати роботу ресурсу.
        </p>

        <p>
          Даний підхід дозволяє краще орієнтуватися на переваги відвідувачів і створювати цікавий для користувачів
          контент.
        </p>

        <p>
          В налаштуваннях кожного браузера можна заборонити відправку Cookies або вказати необхідність підтвердження
          кожної відправки. Ці дії, звичайно, збережуть вас від поширення інформації про ваші переміщення в мережі, але
          при цьому деякі сайти і можливості будуть недоступні.
        </p>

        <h5 class="font-bold my-3">
          Захист персональних даних
        </h5>

        <p>
          Для забезпечення конфіденційності інформації про користувачів ми застосовуємо різні заходи безпеки, в тому
          числі адміністративні, управлінські та технічні. Відповідно до міжнародних стандартів контролю, ми не тільки
          збираємо дані, але і несемо повну відповідальність за їх збереження. Виконавець усвідомлює всю важливість
          дотримання необхідних заходів контролю, а також норм і вказівок, прийнятих в цій політиці конфіденційності і
          договорі оферти.
        </p>

        <p>
          Але, не дивлячись на високий рівень забезпечення збереження ваших персональних даних, користувачеві теж
          необхідно дотримуватися певних правил. Працюючи в Інтернеті, будьте обережні і не поширюйте свої особисті
          дані.
        </p>

        <p>
          Наші розробники роблять все можливе, щоб запобігти можливості витоку інформації, необґрунтованого використання
          і зміни персональних даних. Але 100% гарантії не може надати жоден інтернет-сервіс, так як від незаконного
          злому системи не застрахований ніхто. Хакерська атака може створити умови для отримання даних іншими людьми.
        </p>

        <p>
          Певні пункти політики конфіденційності можуть бути змінені без попередження з метою удосконалення захисту
          Користувачів та покращенням надання Послуг Виконавцем. Для з'ясування якихось питань безпосередньо з
          Виконавцем, можна відправити лист за адресою <a href="mailto:office.ratnikova@gmail.com"
            class="hover:underline">office.ratnikova@gmail.com</a>
        </p>

        <div class="mt-6">
          <p>
            ФОП Ратнікова Анна Миколаївна
          </p>
          <p>
            ІПН: 3177213520
          </p>
          <p>
            Місце реєстрації: Україна, 03027, Київська обл., Фастівський р-н,
            с.Новосілки, вул.Миру, буд..2, кв.45
          </p>
          <p>
            e-mail: <a href="mailto:office.ratnikova@gmail.com" class="hover:underline">office.ratnikova@gmail.com</a>
          </p>
          <p>
            тел.: <a href="tel:+380936092232" class="hover:underline">+38093-609-22-32</a>
          </p>
        </div>

      </div>
    </section>
  </main>
  <Footer />
</Layout>
