<header class="bg-primary">
  <nav class="text-white">
    <ul class="flex flex-col sm:flex-row justify-center gap-6 items-center p-4 text-2xl">
      <li><a href="/" class="hover:underline">Головна</a></li>

      <li><a href="/#about" class="hover:underline">Про мене</a></li>

      <!-- <li><a href="/#testimonials" class="hover:underline">Відгуки</a></li> -->

      <li><a href="/#prices" class="hover:underline">Послуги</a></li>

      <li><a href="/#footer" class="hover:underline">Контакти</a></li>
    </ul>
  </nav>
</header>
