<section id="hero" class="flex flex-col sm:flex-row items-center p-8 max-w-screen-xl mx-auto gap-8">
  <img src="hero.png" alt="Main photo" class="w-[250px] lg:w-[500px] h-auto" />

  <div class="text-primary text-2xl">
    <h1 class="text-6xl font-bold my-6">Анна Ратнікова</h1>

    <h3 class="text-4xl my-4">Стратег для експертів</h3>

    <p class="my-4">
      Я допомагаю фахівцям та брендам перетворити їхні знання на успішний
      інформаційний проєкт.
    </p>

    <p>Разом ми:</p>

    <ol class="list-disc list-outside ml-10">
      <li>
        Чітко сформулюємо ідею та структуру твого майбутнього продукту.
      </li>

      <li>
        Розробимо покрокову стратегію запуску, яка приведе до монетизації.
      </li>

      <li>Організуємо ефективну команду, яка підсилить твої зусилля.</li>
    </ol>

    <p class="my-4">
      Від ідеї до перших продажів – я твій стратег, що допомагає на
      кожному етапі, звільняючи тебе для фокусу на головному – твоїй
      експертизі!
    </p>
  </div>
</section>
